@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800&display=swap');

* {
  font-family: 'Inter', sans-serif;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

#check{
  color: #61dafb;
  float: right;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}



@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/*navbar*/
.bar{
  position: fixed;
  height: 78px;
  background-color: #FFFFFF;
  width:100%;
  box-shadow: 0px 3px 7px 0px grey;
}

.logo{
  height: 60px;
  width: 120px;
  object-fit: contain;
  margin-top: 10px;
  margin-left: 40px;
}

.links{
  position: absolute;
  top:0px;
  left: 600px;
  display: flex;
  justify-content: space-around;
  height: 60px;
  width: 700px;
  margin-top: 10px;
  
}

.link{
  margin-top: 20px;
  color:#66A516;
  font-size: 18px;
  font-weight: 500;
  text-decoration: none;
}

/*Top section*/

#top{
padding-top: 60px;
width: 100%;
height: 90vh;
/*background-color: #61dafb;*/
background-image: url('../public/images/back.png');

display: flex;
justify-content: center;
}

.tagline{
  width: 54%;
  /*background-color: red;*/
  height: 90vh;
}


.titlebox{
  /*background-color: #3c16a5;*/
  width: 93%;
  height: auto;
  margin-left: auto;
  padding: 90px 0px;
}

.cname{
  color:#66A516;
  font-size: 20px;
  font-weight: 600;
  line-height: 18px;
  margin-left: 3px;
}

.tag{
  color:#1BA965;
  font-size: 64px;
  font-weight: 800;
  line-height: 75px;
  margin: 10px 0px;
}

.headimg{
  margin: auto;
  margin-right: auto;
  width: 540px;
  height: 428px;
  border-radius: 97px;
  object-fit: fit;
}

.learn{
  width: 190px;
  height: 66px;
  background-color: #66A516;
  border-radius: 97px;
  margin-top: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  font-weight: 600;
  color: #FFFFFF;
}

